
Task Name: <input type="text" /> <br /> <br />
Task Description: <input type="text" /> <br /> <br />
Task Location: <input type="text"/> <br /> <br />
Number of Employees: At least 
<input type="number" min="1" />

 no more than
<input type="number" min="1" />
<br /> <br />
Day(s): M <input type="checkbox" value="Monday" /> 
T <input type="checkbox" value="Tuesday" /> 
W <input type="checkbox" value="Wednesday" />
Th <input type="checkbox" value="Thursday" />
F <input type="checkbox" value="Friday" />   
<br />
<br />
<center><input type="button" value="Add New Task" onclick="window.close()"/></center>
