<h2>Edit Employee</h2>
<div class="inline-block" style="display: inline-block;">
    <label>Employee Name:</label>
</div>
<div class="inline-block" style="display: inline-block;">
    <label>Employee ID:</label>
</div>
<br />
<div class="clear"></div>
<div class="inline-block" style="display: inline-block;">
    <label>Email:</label>
</div>
<div class="inline-block" style="display: inline-block;">
    <label>Phone Number:</label>
</div>
<br />
<div class="clear"></div>
<label>Pay Rate:</label> <input type="number" min="7"/>
<br />
<label>Certifications:</label> <input type="button" value="Add" /> <br />
<div class="inline-block" style="display: inline-block;">
    <input type="button" value="Cancel" onclick="window.close()"/>
</div>
<div class="inline-block" style="display: inline-block;"><input type="button" value="Continue Without Saving" onclick="window.close()" /></div>
<div class="inline-block" style="display: inline-block;"><input type="button" value="Save and Continue" onclick="window.close()" /></div>
