<center><h2>Review Time Off Request</h2>></center>
<label>Name:</label>
<label>Dates:</label>
<label>Reason:</label>
<label>Number of Other Available Employees:</label>
<center><div class="inline-block" style="display: inline-block;">
    <input type="button" value="Deny Request" />
</div>
<div class="inline-block" style="display: inline-block;"><input type="button" value="Message Employee" /></div>
<div class="inline-block" style="display: inline-block;"><input type="button" value="Accept Request" /></div> </center>