{% extends "layouts/layout.html" %}

{% block content %}
<h2>Review Schedule</h2>
<div align="right">
<input type="button" value="Publish" />
</div>
 <div class="grid-container">
        <div>Employee Name</div>
        <div>Employee ID</div>
        <div>Pay Rate</div>  
        <div>Monday</div>
        <div>Tuesday</div>
        <div>Wednesday</div>  
        <div>Thursday</div>
        <div>Friday</div>
        <div>Hours Worked</div>
        <div>Amount Earned</div>

        <div>-</div>
        <div>-</div>
        <div>-</div>
        <div>-</div>
        <div>-</div>
        <div>-</div>
        <div>-</div>
        <div>-</div>
        <div>-</div>
        <div>-</div>
    </div>

{% endblock %}