{% extends "layouts/layout.html" %}

{% block content %}
<form method="post">
  {% csrf_token %}
  {{ user_form.as_p }}
  {{ profile_form.as_p }}
  <button type="submit">Save changes</button>
</form>

<section style="height:auto; width:auto; float:left">
<img src="/images/TestImage.jpg" style="height:250px; width:250px;">
<br /> <br />
    <div align="left">
    <b>Upload New Photo:</b> <input type="button" value="Upload"/> 
    </div>
</section>
<section style="width:70%; height:auto; float:right;">
    <div align="left">
    <b>Name:</b> <input type="text" /> <br />
    <b>Phone Number:</b> <input type="tel" /><br />
    <b>Email: </b> <input type="email" /><br />
    <b>Availability: </b><br />
    <b>Monday:   </b> <input type="time" /> to <input type="time"/>   <input type="checkbox" /> Not Available <br />
    <b>Tuesday:  </b> <input type="time" /> to <input type="time"/>   <input type="checkbox" /> Not Available <br />
    <b>Wednesday:</b> <input type="time" /> to <input type="time"/>   <input type="checkbox" /> Not Available <br />
    <b>Thursday: </b> <input type="time" /> to <input type="time"/>   <input type="checkbox" /> Not Available<br />
    <b>Friday:   </b> <input type="time" /> to <input type="time"/>   <input type="checkbox" /> Not Available<br />
        </div>
</section>
<div class="clear">
</div>

{% endblock %}