{% extends "layouts/layout.html" %}

{% block content %}


    Sort By: <select>
    <option>Dates</option>
    <option>Employee</option>
    </select>

    <input type="button" value="Create New Post"/>

<div style="height:5px"></div>

<section style="height:10%; width:100%; border-style:solid; border-width:thin;">
    <div class="inline-block" align="left" style="width:70%"><h3>Date and Time</h3></div>
    <div class="inline-block" align="right" style="width:25%"><h4>Employee Name</h4></div>

</section>

    <div style="height:5px"></div>
<section style="height:10%; width:100%; border-style:solid; border-width:thin;">
    <div class="inline-block" align="left" style="width:70%"><h3>Date and Time</h3></div>
    <div class="inline-block" align="right" style="width:25%"><h4>Employee Name</h4></div>

</section>

    <div style="height:5px"></div>
{% endblock %}